/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */

@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

/* High level containers */
body
{
  background:url(asset-path('PPM-SplashTile-BW-Inverted.png', image)) repeat;
  background-size: 4px;
  background-color: #FFFFFF;
  color: #180E03;
  font: normal 16px 'Open Sans', Helvetica, Arial, sans-serif;
  line-height: 1.6;
  padding: 0px;
  margin: 0px;
}

pre, code {
  background: #FFFFFF;
  overflow: auto;
}

#page_container
{
  position: absolute;
  min-height: 400px;
  color: #5C462C;
  width: 100%;
}

#content {
margin: 20px auto;
position: relative;
width: 900px;
}

#footer
{
  position: relative;
  font-size: 8pt;
  padding-right: 15px;
  padding-bottom: 5px;
  padding-left: 5px;
  color: gray;
}

/* Headings */
#header {
  margin: 0 auto;
  width: 100%;
  min-width: 915px;
  height: 49px;
  text-align: center;
  background: none repeat scroll 0 0 #FFFFFF;
  border-bottom: 5px solid #D8C6AE;
  box-shadow: 0 0 15px rgba(90, 100, 117, 0.5);
}

#header a img {
    border: 0 none;
    margin: 0 auto;
    width: 464px;
}

#header a {
  padding: 0 5px;
}

.page_heading {
  font-size: 28px;
  color: #58266F !important;
  padding: 0;
  text-shadow: 1px 1px 5px #CCCCCC;
  line-height: 40px;
  vertical-align: top;
}

.page_heading a:hover {
  text-decoration: none;
}

h2
{
font-family: 'Montserrat';
color: #706B65;
font-size: 24px;
font-weight: bold;
text-shadow: 0.1px 0.1px 0.1px white;
margin-top: 5px;
}

h2 a, h3, h4, h5
{
  color: #706B65;
}

/* Text */
p
{
  padding: 0px;
  margin: 0.5em 0 1.2em 0;
}

strong
{
  color: #5C462C;
}
/* Links */
.openid
{
  background-image: image-url("openid_icon.png");
  padding-left: 15px;
  background-repeat: no-repeat;
  background-position: 0px 2px;
}

a
{
  color: #8a3cae;
  text-decoration: none;
}

small a, label a
{
  text-decoration: underline;
}

a:hover
{
  color: #58266F;
  text-decoration: none;
}

#footer a
{
  color: gray;
  text-decoration: underline;
}

img
{
  border: solid 2px #b3afaa;
}

#disqus_thread {
background: none repeat scroll 0 0 #FFFCF8;
border-color: #E3D6C5;
border-style: solid;
border-width: 4px 2px 2px;
margin-top: -12px;
padding: 20px;
box-shadow: 0 4px 5px rgba(90, 100, 117, 0.3);
-moz-box-shadow: 0 4px 5px rgba(90, 100, 117, 0.3);
-webkit-box-shadow: 0 4px 5px rgba(90, 100, 117, 0.3);
}

#discovery {
  border-top: 2px solid rgba(0, 49, 79, 0.08);
}

/* Two columns */
#navigation
{
  background-color: #ECE2D8;
  border: 2px solid #FDFCFE;
  position: absolute;
  width: 225px;
  top: 0;
  right: -1px;
  padding: 5px;
}

#navigation h2
{
  display: inline;
  padding-left: 10px;
}


#navigation label
{
  margin-left: 0;
  font-style: normal;
}

#navigation ul
{
  padding-left: 10px;

  margin-left: 0px;
  margin-top: 0px;
  list-style: none;
}

#navigation ul li
{
  padding-left: 0px;
  margin-left: 0px;
}
#navigation a {
  text-transform: capitalize;
}

#navigation h3
{
  font-size: 1.2em;
  font-weight: bold;
  font-family: verdana,arial,helvetica,sans-serif;
}

#navigation input
{
  background-color: #FCFCF3;
  border: 2px solid #D0B89F;
  width: 90%;
  margin-left: 10px;
  height: 20px;
  font-size: 16px;
}

#navigation form
{
  margin-bottom: 1em;
}

#main
{
width: 648px;
margin-bottom: 20px;
}

.post {
background: none repeat scroll 0 0 rgba(253, 252, 254, 0.7);
border: 2px solid #E3D6C5;
margin-bottom: 10px;
padding: 1px 15px;
box-shadow: 0 4px 5px rgba(90, 100, 117, 0.3);
-moz-box-shadow: 0 4px 5px rgba(90, 100, 117, 0.3);
-webkit-box-shadow: 0 4px 5px rgba(90, 100, 117, 0.3);
}

div.meta
{
 margin-top: 1em;
 margin-bottom: 1em;
}
/* Formatting */

.meta ul
{
  list-style: none;
  margin: 0px;
  padding-left: 0em;
  padding-bottom: 0.5em;
  display: inline;
  color: #706B65;
  font-size: 14px;
}
.archive-month .tags
{
  color: #bbbbbb;
}

.meta a, .archive-month .tags a
{
  color: #58266F;
  border-bottom: dotted 1px #bbbbbb;
}

.meta a:hover
{
  text-decoration: none;
}

.meta ul li
{
  display: inline;
}

.meta ul li:after
{
  content: " | ";
}

.meta ul li:last-child:after
{
  content: "";
}

h2
{
  margin-bottom: 0px;
}

.separator
{
  height: 1px;
  margin-top:5px;
  clear: both;
}

/* Forms */
label
{
  margin-left: 1em;
}

textarea, select
{
  font: normal 12px verdana, arial, helvetica, sans-serif;
}

textarea
{
  width: 500px;
}

#project_summary
{
  height: 150px;
}

#new_comment textarea, #edit_comment textarea
{
  height: 150px;
}

.alt, .container_alt
{
  background-color: #fafafa;
}

div.date
{
  color: #999;
  font-size: .8em;
}

div.comments div.body
{
  padding: 5px;
}

div.comments div.meta
{
  min-height: 0px;
  padding: 0px;
}

div.comments div.separator
{
  height: 10px;
}

#comments li {
    padding: 5px 10px;
    margin: 10px 0;
}

#comments p {
    margin: 10px 0 0;
}

div.errors
{
  border: solid 1px red;
  background-color: #ffcccc;
  padding: 5px;
  padding-left: 10px;
  width: 485px;
}

div.errors h3
{
  font-size: 1.0em;
}

.fieldWithErrors
{
  display: inline;
}

span.error
{
  font-weight: bold;
  }

hr
{
  border-top: dotted 1px black;
  border-bottom: none;
  height: 1px;
}

#preview
{
  height: 200px;
  overflow: auto;
}

.related {
background-color: #E3E1E0;
border: 1px solid silver;
margin: 20px 0 10px 0;
padding: 10px;
}

/* Syntax */


/* TOC */
fieldset.toc
{
  float: right;
  border: dotted 1px black;
  background-color: #fafafa;
  padding: 10px;
  margin-left: 5px;
}

.toc legend
{
  font-weight: bold;
}

.toc ol
{
  margin: 0px;
  padding-left: 0px;
  list-style-position: inside;
}

.toc ol ol
{
  list-style-type: lower-alpha;
  padding-left: 15px;
}

pre.ruby .keyword { color: #c41f1f; }
pre.ruby .constant { color: #961818; }
pre.ruby .comment { color: #f37e00; }
pre.ruby .string { color: #b77c0a; }

/* CODERAY */
.CodeRay {
  background-color: #f8f8f8;
  border: 1px solid silver;
  font-family: 'Courier New', 'Terminal', monospace;
  color: #100;
  margin-bottom: 1em;
}
.CodeRay pre { margin: 0px; font-size: 12px }

div.CodeRay { }

span.CodeRay { white-space: pre; border: 0px; padding: 2px }

table.CodeRay { border-collapse: collapse; width: 100%; padding: 2px }
table.CodeRay td { padding: 2px 4px; vertical-align: top }

.CodeRay .line_numbers, .CodeRay .no {
  background-color: #eaeaea;
  color: gray;
  text-align: right;
}
.CodeRay .line_numbers tt { font-weight: bold }
.CodeRay .no { padding: 0px 4px }
.CodeRay .code { width: 100% }

ol.CodeRay { font-size: 10pt }
ol.CodeRay li { white-space: pre }

.CodeRay .code pre { overflow: auto }
.af { color:#00C }
.an { color:#007 }
.av { color:#700 }
.aw { color:#C00 }
.bi { color:#509; font-weight:bold }
.c  { color:#888 }

.ch { color:#04D }
.ch .k { color:#04D }
.ch .dl { color:#039 }

.cl { color:#B06; font-weight:bold }
.co { color:#036; font-weight:bold }
.cr { color:#0A0 }
.cv { color:#369 }
.df { color:#099; font-weight:bold }
.di { color:#088; font-weight:bold }
.dl { color:black }
.do { color:#970 }
.ds { color:#D42; font-weight:bold }
.e  { color:#666; font-weight:bold }
.en { color:#800; font-weight:bold }
.er { color:#F00; background-color:#FAA }
.ex { color:#F00; font-weight:bold }
.fl { color:#60E; font-weight:bold }
.fu { color:#06B; font-weight:bold }
.gv { color:#d70; font-weight:bold }
.hx { color:#058; font-weight:bold }
.i  { color:#00D; font-weight:bold }
.ic { color:#B44; font-weight:bold }

.il { background: #eee }
.il .il { background: #ddd }
.il .il .il { background: #ccc }
.il .dl { font-weight: bold ! important; color: #888 ! important }

.in { color:#B2B; font-weight:bold }
.iv { color:#33B }
.la { color:#970; font-weight:bold }
.lv { color:#963 }
.oc { color:#40E; font-weight:bold }
.on { color:#000; font-weight:bold }
.op { }
.pc { color:#038; font-weight:bold }
.pd { color:#369; font-weight:bold }
.pp { color:#579 }
.pt { color:#339; font-weight:bold }
.r  { color:#080; font-weight:bold }

.rx { background-color:#fff0ff }
.rx .k { color:#808 }
.rx .dl { color:#404 }
.rx .mod { color:#C2C }
.rx .fu  { color:#404; font-weight: bold }

.s  { background-color:#fff0f0 }
.s  .s { background-color:#ffe0e0 }
.s  .s  .s { background-color:#ffd0d0 }
.s  .k { color:#D20 }
.s  .dl { color:#710 }

.sh { background-color:#f0fff0 }
.sh .k { color:#2B2 }
.sh .dl { color:#161 }

.sy { color:#A60 }
.sy .k { color:#A60 }
.sy .dl { color:#630 }

.ta { color:#070 }
.tf { color:#070; font-weight:bold }
.ts { color:#D70; font-weight:bold }
.ty { color:#339; font-weight:bold }
.v  { color:#036 }
.xt { color:#444 }

@media (max-width: 900px) { 
  #content {
    margin: 5px;
    width: auto;
  }
  #main {
    max-width: 648px;
    width: auto;
    margin: 0 auto
  }
  #navigation {
    position: relative;
    width: auto;
    margin: 0 auto;
    max-width: 648px;
    padding: 0;
  }
  #header {
    min-width: 320px;
  }
  #header a img {
    max-width: 100%;
    padding: 0;
  }
  #header a {
    padding: 0;
  }
  #navigation input {
    width: 200px;
    padding: 0;
  }
  #footer {
    background: #ffffff;
  }
}
@media (max-width: 705px) { 
  #header {
    height: 89px;
  }
  #header a {
    display: block;
  }
}
